*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

canvas{
    background-color: black;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5vmin;
    width: 100%;
    border-bottom: .01rem white solid;
}

#reload{
    height: 100%;
    background-color: yellow;
}

img{
    position: absolute;
    rotate: 90deg;
    top: 0;
    left: 0;
    width: 50px;
    filter: invert(1);
}